{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizaciones</title>
    <link rel="stylesheet" href="{% static '/styles/actualizaciones.css' %}">
</head>
<body>
    <main>
        <h1 class="titles">Lista de bodegas para actualizar</h1>
        
        <table class="tabla">
            <thead>
                <tr>
                    <th>Bodega</th>
                    <th>Elegir Bodega</th>
                </tr>
            </thead>
            <tbody>
            {% for bodega in bodegas %}
                <tr>
                    <td>{{ bodega }}</td>
                    <td>
                        <button class="btn" type="button">
                            <a href="/actualizar/actualizar_vino/{{ bodega }}">Seleccionar</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>