{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/actualizaciones.css' %}">
</head>
<body>
    <main>
        <h1 class="titles">Lista de Vinos Actualizados</h1>
        
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vino</th>
                    <th>Precio</th>
                    <th>Nota de Cata</th>
                    <th>Imagen De Etiqueta</th>
                    <th>Bodega</th>
                </tr>
            </thead>
            <tbody>
                {% for vino in vinos %}
                <tr>
                    <td>{{ vino.id }}</td>
                    <td>{{ vino.nombre }}</td>
                    <td>{{ vino.precioARS }}</td>
                    <td>{{ vino.notaDeCata }}</td>
                    <td>{{ vino.ImagenEstiqueta }}</td>
                    <td>{{ bodega }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a class="btn-vuelta" href="/actualizar">Seguir actualizando</a>
        </div>
    </main>
</body>
</html>